*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
.CYM_header{
    width:100%;
    height:40px;
    margin-top:25px;
    /* background-color: red; */
    position:relative;
}
.CYM_header a{
    text-decoration: none;
}
.CYM_header__icon{
    font-size:40px;
    position: absolute;
    top:15%;
    left:5%;
    color:black;
}
.CYM_header__title{
    right:50%;
    top:15%;
    font-size:35px;
    text-align: center;
}
.CYM_body{
    width: 1100px;
    height:580px;
    /* background-color: antiquewhite; */
    margin:15px 0px 0px 100px;
    display:flex;
}
.CYM_body__left{
    width:550px;
    height:700px;

}
.CYM_body__right{
    width:60%;
    height:100%;
    /* background-color:blue; */
}
.CYM_body__left-top{
    width:550px;
    height:250px;
 
    
}
#CYM_body__left-top--nameMenu{
    display:block;
    width:270px;
    height:40px;
    font-size:0.95rem;
    padding:0px 15px;
    border-radius: 15px;
    margin:3px 0px 0px 110px;
}
.CYM_body__left-bottom{
    width:550px;
    height:350px;
    /* background-color: black; */
}

.FID_body__left-nutriinfor{
    width:100%;
    height:85%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.FID_body__left--title{
    font-size:25px;
    margin-left:45px;   
    /* margin-top:5px;    */
    padding:20px 0px;
}
.FID_body__left-nutriinfor--item{
    width: 190px;
    height:40px;
    background-color: white;
    border-radius: 20px;
    display:flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
   
}
.nutriinfor--item__circle{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: #d6e68a;
    text-align: center;
    line-height: 60px;
}
.nutriinfor--item__text{
    margin-left:33px;
    font-weight: bold;
}

.CYM_body__left-bottom > div {
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
    height:240px;
    border: 1px solid grey;
    border-radius: 5px;
    
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
    background-color: #bdbdbd;
    border-radius: 5px;
}
.CYM_body__left-bottom--button{
    width:70px;
    height:25px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.CYM_body__left-bottom--table{
    border-collapse: collapse;
	width: 100%;
	text-align: center;
    
    
}
.CYM_body__left-bottom--table th {
    border: 1px solid black;
    padding: 8px;
}
.CYM_body__left-bottom--table td{
    border: 1px solid black;
    padding: 8px;
}
.CYM_body__left-bottom--table th{
    background-color: #ccc;
}
.CYM_body__left-bottom--table thead tr th{
    font-size:20px;
}
.CYM_body__left-bottom--table a{
    text-decoration: none;
}
.CYM_body__left-bottom--table .table-icon{
    font-size:27px;
    color:black;
}
.CYM_body__right-bottom{
    position:relative;
}
.CYM_body__right-bottom ul li {
    padding-bottom:10px;
    position:relative;
    display:block;
    width:270px;
    height:270px;
}
.divSearch{
    width:100%;
    height:50px;
    margin-left:50px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.divSearch__input{
    display:block;
    width:370px;
    height:40px;
    font-size:0.95rem;
    padding:0px 40px;
    border-radius: 15px;
  
    
}
.divSearch__btn{
    width:90px;
    height:40px;
    border-radius: 20px;
}
.divSearch__icon{
    position:absolute;
    left:5%;
    
}
.CYM_body__right-bottom{
    width:100%;
    height:80%;
    margin-left:50px;
    /* margin-top:50px; */
    /* background-color: green; */
    
}
.CYM_body__right-bottom > ul {
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.CYM_body__right-bottom--img{
    display:block;
    overflow: hidden;
    width:270px;
    height:230px;
    background-color: black;
    margin:20px 0px;
    border:0.5px solid #bdbdbd;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    position: relative;
}
.CYM_body__right-bottom--img > img{
    object-fit: cover;
    object-position: center;
    width:100%;
    height:100%;
    
}
.CYM_body__right-bottom__icon{
    font-size:40px;
    color:black;
    position:absolute;
    right:-10%;
    top:53%;
}
.CYM_footer{
    /* background-color: red; */
    margin-top:50px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.CYM_footer__btn{
    width:110px;
    height:40px;
    border-radius:15px;
    margin:0px 150px;
    background-color: #d6e68a;
    font-weight:bold;
    font-size:1rem;
}
.NameOfFood{
    position: absolute; /* Định vị tuyệt đối cho dòng chữ */
    
    left: 50%;
    transform: translateX(-50%);
     /* Đặt vị trí của dòng chữ ở phía trên cùng của khối chứa */
    bottom:0; /* Đặt vị trí của dòng chữ ở bên trái của khối chứa */
    color: black; /* Đặt màu sắc cho văn bản */
    font-size: 20px; /* Đặt kích thước chữ */
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.CYM_body__right-bottom--icon.Detail{
    position:absolute;
    left: 20%;
    transform: translateX(-50%);
    top:50%;
    transform:translateY(-50%);
    font-size:60px;
    color:#fff;
    display:none;
}
.CYM_body__right-bottom--icon.Add{
    position:absolute;
    left: 60%;
    transform: translateX(-50%);
    top:50%;
    transform:translateY(-50%);
    font-size:60px;
    color:#fff;
    display:none;
}
