#header {
    position: fixed;
    z-index: 1;
    background-color: var(--white-color);
    height: var(--header-size);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav>li{
    display: inline-block;
}

#nav>li a {
    background-color: var(--white-color);
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    line-height: var(--header-size);
    font-weight: 900;
}

#nav>li + li {
    margin-left: 80px;
}

.header-img {
    height: var(--header-size);
    margin-left: 40px;
}

.header-logo {
    height: var(--header-size);
}

.header-navbar {

}

.header-user div{
    display: inline-block;
}

.logIn__button,
.signUp__button {
    background-color: var(--pink-color);
    color: black;
    text-decoration: none;
    width: 100px;
    height: 32px;
    padding: 0 6px;
    border-radius: 50px;
    line-height: 32px;
    display: inline-block;
}

.user-signUp :hover,
.user-login :hover {
    opacity: 0.8;
    cursor: pointer;
}

.logIn__button {
    width: 80px;
}


.icon {
    float: right;
    margin-top: 8px;
}


.nav_wrap {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#slider {
    position: relative;
    margin-top: 80px;
    padding-top: 50%;
    background: url('/assets/img/Homepage-img.jpg') top center /cover no-repeat;
}

#container {

}

#footer {

}