.notification_form{
    position:absolute; 
    width:450px;
    height:300px;
    border:1px solid grey;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow:  0 0 5px rgba(0,0,0,0.5);
    top:120%;
    right:100%;
    display:none;
}
.notification_form-header{
    width:100%;
    height:45px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.notification_form-header--title{
    margin-left:10px;
    color:black;
    padding: 0;
    
}
.notification_form-header a{
    margin-right:30px;
}
.notification_form-header--icon{
    color:black;
    font-size:x-large;
}
.notifcation_form-body{
    
    margin:5px 0px;
    
}
.toast{
    position: relative;
    padding:18px 3px 18px 0px;
    color: #fff;
    /* margin-bottom: 10px; */
    width: 424px;
    margin-left:2px;
    display: grid;
    grid-template-columns: 50px 1fr;
    border-radius: 5px;
    --color: #0abf30;
    background-color: #d1e7dd;
    border:0.5px solid var(--color);
    margin:4px 0px;
   
}
.toast i{
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    
}
.toast .title{
    color:black;
    font-size: 16px;
    font-weight: bold;
}
.toast span{
    font-size:13px;
    color:black;
}
.toast span, .toast i:nth-child(3){
    color: black;
    opacity: 0.8;
}
.toast.error{
    --color: #f24d4c;
    background-color: #efcfd2;
}
.toast.warning{
    --color: #e9bd0c;
    background-color:#fff3cd;
        
}
.toast.info{
    --color: #3498db;
    background-color: #cfe2ff;
}
