*{
    padding:0px;
    margin:0px;

}
.ForgetPassword{
    width:480px;
    height:350px;
    position:relative;
    margin-left:400px;
    margin-top:100px;
    border:0.5px solid #bdbdbd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background:linear-gradient(to left bottom,#fbf4f5,#eff6fe);



}
.ForgetPassword__title{
    text-align: center;
    padding:30px;
}
.ForgetPassword__text{
    max-width: 360px;
    text-align: center;
    margin-left:60px;
}
.ForgetPassword__input{
    width: 400px;
    height:50px;
    font-size: large;
    padding:0px 10px;
    margin-left:30px;
    margin-top:20px;
    border-radius: 5px;
    border:1px solid #bdbdbd;
}
.ForgetPassword__checkEmail{
    font-size: 30px;
    color:green;
    position:absolute;
    right:10%;
    top:54%;
    /* display:none; */
}


.ForgetPassword__button{
    width:425px;
    height:45px;
    margin:20px 0px 15px 30px;
    background-color: #26783c;
    color:white;
    border:1px solid #bdbdbd;
    border-radius: 5px;
    font-size:larger;
    
}
.ForgetPassword__text{
    font-size:large;
}
.ForgetPassword__returnLogin{
    text-decoration: none;
    color:#3787e8;
}